<section>
    <div class="accordion">
        <h1 class="mat-headling">Past visit</h1>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Visit xyz
                </mat-expansion-panel-header>
                Info about visit
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="accordion">
        <h1 class="mat-headling">Lab results</h1>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Lab test xyz
                </mat-expansion-panel-header>
                Info about lab test
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</section>
