.mat-card {
    position: absolute;
    width: 350px;
    height: 250px;
    left: calc(50% - 175px);
    top: calc(50% - 225px);
    padding: 25px 45px;

    .mat-card-title {
        margin-bottom: 16px;
    }

    .mat-form-field {
        display: block;
    }

    .mat-flat-button {
        margin-top: 32px;
        float: right;
    }
}