<mat-card class="mat-elevation-z5">
    <mat-card-title>Login</mat-card-title>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field floatLabel="never">
            <input matInput formControlName="username" placeholder="Email/Name" required />
        </mat-form-field>

        <mat-form-field floatLabel="never">
            <input
                matInput
                formControlName="password"
                placeholder="Password"
                type="password"
                required
            />
        </mat-form-field>

        <button mat-flat-button color="primary" type="submit" [disabled]="!loginForm.valid">
            Login
        </button>
    </form>
</mat-card>
