<div class="options" *ngIf="!isSelected">
    <mat-form-field class="options-left-item">
        <input
            matInput
            [matDatepicker]="picker"
            placeholder="Data wizyty"
            [formControl]="dateForm"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>

<app-table
    *ngIf="!isSelected"
    [data]="visits"
    [columnsInfo]="columns"
    [rowOptions]="options"
    (optionSelected)="optionSelected($event)"
></app-table>

<!-- <app-visit-page *ngIf="isSelected" [patient]="selectedPatient"></app-visit-page> -->
