<app-login *ngIf="!isLogged" (loggedIn)="loggedIn($event)"></app-login>

<mat-sidenav-container *ngIf="isLogged" class="sidenav-container" fullscreen>
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
        
        <mat-card class="mat-elevation-z0">
            <mat-card-header>
                <i mat-card-avatar class="material-icons">perm_identity</i>
                <mat-card-title>Rejestrator</mat-card-title>
                <mat-card-subtitle>rejestrator@bd.com</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        
        <mat-divider></mat-divider>
        <mat-nav-list>
            <a mat-list-item routerLink="/visits-by-doctor" routerLinkActive="active">Home</a>
            <a mat-list-item routerLink="/new-visit" routerLinkActive="active">New visit</a>
            <a mat-list-item href="#">Manage visits</a>
            <a mat-list-item href="#">New Patient</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>{{title}}</span>
        </mat-toolbar>

        <div class="router-wrapper">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>