<mat-form-field floatLabel="never">
    <input #name matInput placeholder="Name" />
</mat-form-field>

<mat-form-field floatLabel="never">
    <input #surname matInput placeholder="Surname" />
</mat-form-field>

<mat-form-field floatLabel="never">
    <input #pesel matInput placeholder="PESEL" type="number" />
</mat-form-field>

<button
    mat-flat-button
    color="primary"
    (click)="addButtonClick(name.value, surname.value, pesel.value)"
    [disabled]="name === '' || surname === '' || pesel.value === ''"
>
    Add
</button>

<button mat-button (click)="cancel()">Cancel</button>
