<div class="new-visits" *ngIf="!showTermSelection">
  <div class="options">
    <mat-form-field class="options-left-item">
      <input #name matInput placeholder="Patient name"/>
    </mat-form-field>

    <mat-form-field class="options-left-item">
      <input #surname matInput placeholder="Patient surname"/>
    </mat-form-field>

    <span class="divider"></span>

    <button 
      class="options-right-item" 
      mat-flat-button color="primary" 
      [disabled]="selectedPatient === null"
      (click)="nextClick()"
      >
      Next
    </button>
  </div>

  <app-table [data]="patients" [columnsInfo]="columns" (rowSelected)="rowSelected($event)"></app-table>
</div>

<app-term-selection *ngIf="showTermSelection" [patient]="selectedPatient"></app-term-selection>