<div class="options">
    <mat-form-field class="options-left-item">
        <input
            matInput
            [matDatepicker]="picker"
            placeholder="Data wizyty"
            [formControl]="dateForm"
            (dateChange)="dateChanged($event.value)"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>

<app-table
    [data]="patientsToDisplay"
    [columnsInfo]="columns"
    [rowOptions]="options"
    (optionSelected)="optionSelected($event)"
></app-table>
