<form [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
    <mat-form-field floatLabel="never">
        <input matInput formControlName="username" placeholder="Username" required />
    </mat-form-field>

    <mat-form-field floatLabel="never">
        <input
            matInput
            formControlName="password"
            placeholder="Password"
            type="password"
            required
        />
    </mat-form-field>

    <mat-form-field floatLabel="never">
        <input matInput formControlName="firstName" placeholder="Name" required />
    </mat-form-field>

    <mat-form-field floatLabel="never">
        <input matInput formControlName="lastName" placeholder="Surname" required />
    </mat-form-field>

    <mat-form-field class="options-left-item">
        <mat-label>Role</mat-label>

        <mat-select
            #role
            formControlName="role"
            placeholder="Role"
            (selectionChange)="gmc.value = ''"
            required
        >
            <mat-option *ngFor="let role of roles" [value]="role">
                {{ role | titlecase }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field [ngClass]="{ hidden: role.value !== 'DOCTOR' }" floatLabel="never">
        <input
            #gmc
            matInput
            formControlName="gmcNumber"
            placeholder="GMC Number"
            type="number"
            [required]="role.value === 'DOCTOR'"
        />
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit" [disabled]="!newUserForm.valid">
        Add
    </button>

    <button mat-button (click)="cancel()">Cancel</button>
</form>
