<mat-tab-group>
    <mat-tab label="Current Visit">
        <section class="patient-info">
            <h1 class="mat-headline">Patient</h1>
            <h3 class="mat-subheading-2">Name: {{ visit.visit.patient.name }}</h3>
            <h3 class="mat-subheading-2">Surname: {{ visit.visit.patient.surname }}</h3>
            <h3 class="mat-subheading-2">
                PESEL: {{ visit.visit.patient.personalIdentityNumber }}
            </h3>
        </section>
        <form [formGroup]="visitForm" (ngSubmit)="onSubmit(visitForm.value)">
            <section>
                <h1 class="mat-headline">Visit procedure</h1>
                <mat-form-field class="description" appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea
                        matInput
                        formControlName="description"
                        class="description-textarea"
                        type="text"
                    ></textarea>
                </mat-form-field>
                <h2 class="mat-title">Examination</h2>
                <div class="accordion">
                    <app-examination-accordion
                        formControlName="examinations"
                        placeholderText="Choose test"
                        [options]="availableTests"
                    ></app-examination-accordion>
                </div>
                <h2 class="mat-title">Lab tests</h2>
                <div class="accordion">
                    <!-- <app-examination-accordion
                        placeholderText="Choose examination"
                        [options]="availableExaminations"
                        [(accordionItems)]="examinations"
                    ></app-examination-accordion> -->
                </div>
            </section>
            <section>
                <h1 class="mat-headline">Diagnosis</h1>
                <mat-form-field class="diagnosis" appearance="outline">
                    <mat-label>Diagnosis</mat-label>
                    <textarea
                        matInput
                        formControlName="diagnosis"
                        class="diagnosis-textarea"
                        type="text"
                    ></textarea>
                </mat-form-field>
            </section>

            <app-custom-form-control formControlName="test"></app-custom-form-control>

            {{ visitForm.value | json }}

            <button mat-flat-button color="primary" type="submit" [disabled]="!visitForm.valid">
                Finish
            </button>
        </form>
    </mat-tab>
    <mat-tab label="Patients History">
        <app-patient-history></app-patient-history>
    </mat-tab>
</mat-tab-group>
