<mat-tab-group>
    <mat-tab label="Current Visit">
        <section class="patient-info">
            <h1 class="mat-headline"></h1>
            <h3 class="mat-subheading-2">Name: {{ visit.patient.name }}</h3>
            <h3 class="mat-subheading-2">Surname: {{ visit.patient.surname }}</h3>
            <h3 class="mat-subheading-2">PESEL: {{ visit.patient.personalIdentityNumber }}</h3>
        </section>
        <section>
            <h1 class="mat-headline">Visit procedure</h1>
            <mat-form-field class="description" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea #description matInput class="description-textarea" type="text"></textarea>
            </mat-form-field>
            <h2 class="mat-title">Examination</h2>
            <div class="accordion">
                <app-examination-accordion
                    placeholderText="Choose test"
                    [options]="availableTests"
                    [(accordionItems)]="prescribedTests"
                ></app-examination-accordion>
            </div>
            <h2 class="mat-title">Lab tests</h2>
            <div class="accordion">
                <app-examination-accordion
                    placeholderText="Choose examination"
                    [options]="availableExaminations"
                    [(accordionItems)]="examinations"
                ></app-examination-accordion>
            </div>
        </section>
        <section>
            <h1 class="mat-headline">Diagnosis</h1>
            <mat-form-field class="diagnosis" appearance="outline">
                <mat-label>Diagnosis</mat-label>
                <textarea #diagnosis matInput class="diagnosis-textarea" type="text"></textarea>
            </mat-form-field>
        </section>
    </mat-tab>
    <mat-tab label="Patients History">
        <app-patient-history></app-patient-history>
    </mat-tab>
</mat-tab-group>
