<mat-sidenav-container class="sidenav-container" fullscreen>
    <mat-sidenav
        #drawer
        class="sidenav"
        fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)"
    >
        <mat-card class="mat-elevation-z0">
            <mat-card-header>
                <i mat-card-avatar class="material-icons avatar">perm_identity</i>
                <mat-card-title>{{ currentUser?.name }} </mat-card-title>
                <mat-card-subtitle>
                    {{ currentUser?.username }}
                </mat-card-subtitle>
                <button mat-icon-button class="logout-button" (click)="logout()">
                    <i class="material-icons">exit_to_app</i>
                </button>
            </mat-card-header>
        </mat-card>

        <mat-divider></mat-divider>
        <mat-nav-list>
            <a
                mat-list-item
                *ngIf="(isAdmin$ | async)"
                routerLink="/users"
                routerLinkActive="active"
            >
                <span class="link-text">All users</span>
            </a>
            <a
                mat-list-item
                *ngIf="(isRegistrant$ | async)"
                routerLink="/visits-by-doctor"
                routerLinkActive="active"
            >
                <span class="link-text">All visits</span>
            </a>
            <a
                mat-list-item
                *ngIf="(isRegistrant$ | async)"
                routerLink="/new-visit"
                routerLinkActive="active"
            >
                <span class="link-text">New visit</span>
            </a>
            <a
                mat-list-item
                *ngIf="(isDoctor$ | async)"
                routerLink="/doctors-visits"
                routerLinkActive="active"
            >
                <span class="link-text">Visits</span>
            </a>
            <a
                mat-list-item
                *ngIf="(isLaborant$ | async)"
                routerLink="/lab-exams"
                routerLinkActive="active"
            >
                <span class="link-text">Current examinations</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
                *ngIf="(isHandset$ | async)"
            >
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>{{ title }}</span>
        </mat-toolbar>

        <div class="router-wrapper">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
