<div *ngIf="!isSelected" class="options">
    <mat-form-field class="options-left-item">
        <input matInput placeholder="Patient name" [(ngModel)]="filterName" />
    </mat-form-field>

    <mat-form-field class="options-left-item">
        <input matInput placeholder="Patient surname" [(ngModel)]="filterSurname" />
    </mat-form-field>
</div>

<app-table
    *ngIf="!isSelected"
    [data]="labExaminations"
    [columnsInfo]="columns"
    [rowOptions]="options"
    (optionSelected)="optionSelected($event)"
></app-table>

<app-exam-page
    *ngIf="isSelected && currentUser != null"
    [exam]="selectedExam"
    [assistantId]="currentUser.id"
    (finished)="finished($event)"
></app-exam-page>
