<div class="options" *ngIf="!showTermSelection">
    <mat-form-field class="options-left-item">
        <input #name matInput placeholder="Patient name" />
    </mat-form-field>

    <mat-form-field class="options-left-item">
        <input #surname matInput placeholder="Patient surname" />
    </mat-form-field>

    <span class="divider"></span>

    <button mat-button color="primary" (click)="openDialog()">
        Add patient
    </button>

    <button
        class="options-right-item"
        mat-flat-button
        color="primary"
        [disabled]="selectedPatient === null"
        (click)="nextClick()"
    >
        Next
    </button>
</div>

<app-table
    *ngIf="!showTermSelection"
    [data]="patients"
    [columnsInfo]="columns"
    (rowSelected)="rowSelected($event)"
    clickableRows="true"
></app-table>

<app-term-selection *ngIf="showTermSelection" [patient]="selectedPatient"></app-term-selection>
