<form [formGroup]="newPatientForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input matInput formControlName="name" placeholder="Name" required />
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="surname" placeholder="Surname" required />
    </mat-form-field>

    <mat-form-field>
        <input
            matInput
            formControlName="personalIdentityNumber"
            placeholder="PESEL"
            type="number"
            required
        />
        <mat-error
            *ngIf="
                hasError('personalIdentityNumber', 'min') ||
                hasError('personalIdentityNumber', 'max')
            "
        >
            Required 11 digits
        </mat-error>
    </mat-form-field>

    <div formGroupName="address">
        <mat-form-field>
            <input matInput formControlName="street" placeholder="Street" required />
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="houseNumber" placeholder="House" required />
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="apartment" placeholder="Apartment" required />
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="city" placeholder="City" required />
        </mat-form-field>
    </div>

    <button mat-flat-button color="primary" type="submit" [disabled]="!newPatientForm.valid">
        Add
    </button>

    <button mat-button (click)="cancel()" type="button">Cancel</button>
</form>
